
@using Kooboo.CMS.Content.Models;
@using Kooboo.CMS.Content.Query;
@{ var schema = (Kooboo.CMS.Content.Models.Schema)ViewData["Schema"];
    var allowedEdit = (bool)ViewData["AllowedEdit"];
    var allowedView = (bool)ViewData["AllowedView"];
    var parentUUID = ViewContext.RequestContext.AllRouteValues()["parentUUID"];
    var parentFolder = ViewContext.RequestContext.AllRouteValues()["parentFolder"];
}
@using (Html.BeginForm(ViewContext.RequestContext.AllRouteValues()["action"].ToString()
    , ViewContext.RequestContext.AllRouteValues()["controller"].ToString()
    , ViewContext.RequestContext.AllRouteValues()
    , FormMethod.Post
    , new RouteValueDictionary(new { enctype = "application/x-www-form-urlencoded" })))
{
    <table>
        <tr>
            <th>
                <label for="Title">Title</label>
            </th>
            <td>
                <input class='long' id="Title" name="Title" type="text" value="@(Model.Title ?? "")" />
                @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Title"], null)

            </td>
        </tr>
        <tr>
            <th>
                <label for="Content">Content</label>
            </th>
            <td class="kb-froala-editor">
                <kb-froala-editor></kb-froala-editor>
                @*<textarea class="extra-large" name="Content">@(Model.Content ?? "")</textarea>*@
                @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Content"], null)

            </td>
        </tr>
        @if (allowedEdit)
        {
            <tr>
                <th>

                </th>
                <td>
                    <input id='Published' name="Published" type="checkbox" @(Convert.ToBoolean(Model.Published) ? "checked" : "") value="true" />
                    <input type="hidden" value="false" name="Published" />
                    <label class="inline" for="Published">Published</label>
                    @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Published"], null)
                </td>
            </tr>
        }
        <input class='long' id="UtcLastModificationDate" name="UtcLastModificationDate" type="hidden" value="@(Model.UtcLastModificationDate ?? "")" />
        <input class='long' id="UserId" name="UserId" type="hidden" value="@(Model.UserId ?? "")" data-val-length="The field UserId must be a string with a maximum length of 36." data-val-length-max="36" data-val="true" />
        @Html.Action("Categories", ViewContext.RequestContext.AllRouteValues())

    </table>
    @Html.Partial("_TinyMCEExternalCssInjection")
    <script src="~/Areas/FroalaEditor/Scripts/vendor.js"></script>
    <script src="~/Areas/FroalaEditor/Scripts/app.js"></script>
}